# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://docker:docker@localhost:3306/felix_dev"

FIREBASE_ADMIN_PROJECT_ID="<app domain>"
FIREBASE_ADMIN_PRIVATE_KEY="<firebase-private-key>"
FIREBASE_ADMIN_CLIENT_EMAIL="<firebase-client-email>"
FIREBASE_API_KEY="<firebase-api-key>"
FIREBASE_API_BASE_URL="https://identitytoolkit.googleapis.com/v1/"

LOG_LEVEL="debug"

MYSQL_DATABASE="mysql-database"
MYSQL_USER="<mysql-user>"
MYSQL_PASSWORD="<mysql-password>"
MYSQL_ROOT_PASSWORD="<mysql-root-password>"

SLACK_WEBHOOK_URL="https://hooks.slack.com/services/<secret-key>
